Source: rstudio
Section: gnu-r
Priority: optional
Maintainer: Jeroen Ooms <jeroen@opencpu.org>
Build-Depends: r-base (>= 2.11.1), psmisc, libssl0.9.8, libc6 (>= 2.7), xvfb, xauth, xfonts-base, debhelper (>> 4.1.0), pkg-config
Standards-Version: 3.9.4

Package: rstudio-server
Architecture: any
Depends: psmisc, libssl0.9.8,  libc6 (>= 2.7)
Recommends: r-base (>= 2.11.1)
Description: RStudio is a set of integrated tools designed to help you be more productive with R. It includes a console, syntax-highlighting editor that supports direct code execution, as well as tools for plotting, history, and workspace management.
